{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <!-- Update the date list container div in your index.html -->
        <div class="col-md-3" id="dateListContainer">
            <div id="dateList" class="list-group">
      <!-- Dates will be populated here by JavaScript -->
            </div>
        </div>
  
        <div id="videoList" class="d-flex flex-wrap">
          <!-- Videos will be populated here by JavaScript -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}